@page "/strona"

<PageTitle>Strona Jak Ta</PageTitle>
<div class="page timeline-5-2" data-uia-timeline-skin="5" data-uia-timeline-adapter-skin-5="uia-card">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__groups">
        <section class="uia-timeline__group" aria-labelledby="timeline-demo-6-heading-1">
          <div class="uia-timeline__dot"></div>
          <div class="uia-timeline__point uia-card">
            <div class="uia-card__container">
              <div class="uia-card__intro">
                <h3 id="timeline-demo-6-heading-1" class="page__job-name uia-heading ra-heading">jak stworzyć taką strone?</h3>
              </div>
              <div class="uia-card__body">
                <p></p>
              </div>
            </div>    
          </div>
        </section>
       
      </div>
    </div>
  </div>
</div>

<div class="page" data-uia-timeline-skin="4" data-uia-timeline-adapter-skin-4="uia-card-skin-#1">
  <div class="uia-timeline">
    <div class="uia-timeline__container">
      <div class="uia-timeline__line"></div>
      <div class="uia-timeline__annual-sections">
        <span class="uia-timeline__year" aria-hidden="true">1</span>
        <div class="uia-timeline__groups">
          <section class="uia-timeline__group" aria-labelledby="timeline-demo-4-heading-1">
            <div class="uia-timeline__point uia-card" data-uia-card-skin="1" data-uia-card-mod="1">
              <div class="uia-card__container">
                <div class="uia-card__intro">
                  <h3 id="timeline-demo-4-heading-1" class="ra-heading ha-screen-reader">Philadelphia Museum School of Industrial Art</h3>
                  <span class="uia-card__time">
                  
                  </span>
                </div>
                <div class="uia-card__body">
                  <div class="uia-card__description">
                    <p>Znajdz kogoś kto umie w strony na Githubie.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
        </div>
      </div>
      <div class="uia-timeline__annual-sections">
        <span class="uia-timeline__year" aria-hidden="true">2</span>
        <div class="uia-timeline__groups">
          <section class="uia-timeline__group" aria-labelledby="timeline-demo-4-heading-3">
            <div class="uia-timeline__point uia-card" data-uia-card-skin="1" data-uia-card-mod="1">
              <div class="uia-card__container">
                <div class="uia-card__intro">
                  <h3 id="timeline-demo-4-heading-3" class="ra-heading ha-screen-reader">My travel to Europe</h3>
                  <span class="uia-card__time">
                    
                  
                  </span>
                </div>
                <div class="uia-card__body">
                  <div class="uia-card__description">
                    <p>zaimplementuj jego kod na swojej stronie ;) </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
